<!-- About -->
<section id="about" class="section-about section-padding section-meta site-section bg-light">
    <div class="container">
        <div class="section-title-area">
            <h2 class="section-title">About Acuparse</h2>
            <div class="section-desc">{% capture about %}{% include homepage/templates/about.md %}{% endcapture %}
                {{ about | markdownify }}
            </div>
        </div>
    </div>
</section>
