<!-- Blog -->
<section id="blog" class="section-news section-padding section-meta site-section text-center">
    <div class="container">
        <div class="section-title-area">
            <h2 class="section-title">Recent News</h2></div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="blog-entry">
                        {% assign posts = site.posts %}
                        {% for post in posts limit:1 %}
                        {% include homepage/templates/blog.html %}
                        {% endfor %}
                        <div class="all-news">
                            <a class="btn btn-primary"
                               href="{{ '/blog' | relative_url }}">View
                                all posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
