{% assign releases = site.releases | reverse %}
{% for release in releases limit:1 %}
<!-- Cover -->
<header id="cover" class="cover container-fluid">
    <div class="row text-center align-items-center">
        <div class="col mx-auto">
            <h1>{{ site.name }}</h1>
            <h2>AcuRite Access/smartHUB and IP Camera Processing, Display, and Upload.</h2>
            <p>Weather readings are captured using your AcuRite Access or SmartHub device and an AcuRite Iris (5-in-1)
                or Atlas (7-in-1), as well as any Tower sensors.</p>
            <p>Developed using PHP and MariaDB/MySQL for data storage.</p>
            <h4>Local bare-metal/VM installations supported only on Debian/Rasbian Buster(10)/Bullseye(11) and Ubuntu
                Focal(20.04)/Jammy(22.04).</h4>
            <h5>A Docker Container install is also supported using Docker Compose.</h5>
            <h3>Latest Release: Version {{ release.version }}</h3>
            <div class="row margin-top-15">
                <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 mx-auto">
                    <div class="row">
                        <div class="col">
                            <a target="_blank"
                               href="https://docs.acuparse.com/INSTALL"
                               class="btn btn-success btn-lg"><i
                                    class="fa fa-file-alt"></i> Install Guide</a>
                        </div>
                        <div class="col">
                            <a href="{{ release.url | relative_url }}" class="btn btn-primary btn-lg"><i
                                    class="fa fa-newspaper"></i> Release Notes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endfor %}
