<!-- Discussion -->
<section id="discussion" class="section-discussion section-padding section-meta site-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title-area">
                    <h2 class="section-title">Get in touch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mt-2 text-center">
                <h2>Bugs, Issues, and Feature Requests</h2>
                <ul>
                    <li><a href="https://gitlab.com/acuparse/acuparse/issues">GitLab Issue Tracker</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mt-1 text-center">
                <h2>Community Support</h2>
                <ul>
                    <li class="fw-bold">Join the <a href="https://communityinviter.com/apps/acuparse/website">Acuparse Slack
                        Community</a></li>
                    <li>Join the <a href="https://groups.google.com/a/lists.acuparse.com/forum/#!forum/users">Users
                        Mailing List</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mt-1 text-center">
                <h2>Commercial and General Inquiries</h2>
                <ul>
                    <li>Email <a
                            href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#101;&#108;&#108;&#111;&#64;&#97;&#99;&#117;&#112;&#97;&#114;&#115;&#101;&#46;&#99;&#111;&#109;">&#104;&#101;&#108;&#108;&#111;&#64;&#97;&#99;&#117;&#112;&#97;&#114;&#115;&#101;&#46;&#99;&#111;&#109;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
