<!-- Donations -->
<section id="donations"
         class="section-donations section-padding section-padding site-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title-area">
                    <h2 class="section-title">Supporting Development</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Acuparse is entirely supported by its author and via community donations from folks just like you!
                    <br>If you can spare some fiat to support development, it's greatly appreciated but
                    definitely <strong>not</strong> expected nor required!</p>
                <div class="row">
                    <div class="col">
                        <p><a href="https://www.buymeacoffee.com/maxp" target="_blank" rel="noopener"><img
                                style="height: auto !important;width: auto !important"
                                src="assets/img/bmc_orange_img.png"
                                alt="Buy Me A Coffee"></a></p>
                    </div>
                    <div class="col">
                        <a href="https://www.producthunt.com/posts/acuparse?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-acuparse"
                           target="_blank"><img
                                src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=316923&theme=dark"
                                alt="Acuparse - AcuRite Weather Data Processing, Display, and Upload. | Product Hunt"
                                style="width: 250px; height: 40px;" width="250" height="40"/></a>
                    </div>
                    <div class="col">
                        <p><a href="https://www.patreon.com/bePatron?u=38288770"
                              data-patreon-widget-type="become-patron-button">Become
                            a Patron!</a></p>
                        <script src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <p><strong>Thanks to all who have donated to support Acuparse Development!</strong></p>
                <a target="_blank"
                   href="/donors.html"
                   class="btn btn-success"><i
                        class="fa fa-file-alt"></i> View Donors List</a>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col">
                <h4>Active Installs</h4>
                <p><small>(Stations running Version 3 that have recently checked for updates)</small></p>
                <h5 id="installs"></h5>
            </div>
        </div>
    </div>
</section>
