<!-- Features -->
<section id="features" class="section-features section-padding section-meta site-section">
    <div class="container">
        <div class="section-title-area">
            <h2 class="section-title">Features</h2>
            <div class="section-desc"><p>Built for weather geeks and designed to be clean, simple, and mobile
                friendly. Acuparse features a minimal UI with a focus on data, not flashy graphics. Designed to compliment
                MyAcuRite and other 3rd party’s sites and tools.</p>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="feature-item col-lg-3 col-sm-6">
                    <div class="feature-media">
                                <span class="fa-stack fa-5x"><i
                                        class="fas fa-circle fa-stack-2x icon-background-default"></i> <i
                                        class="feature-icon fas fa-cloud fa-stack-1x"></i></span></div>
                    <h4>Data Export API and MQTT Support</h4>
                    <div class="feature-item-content">
                        <p>Output your Weather data in JSON/HTML format for use in external applications as well as
                        publish your data to an MQTT Broker.</p>
                    </div>
                </div>
                <div class="feature-item col-lg-3 col-sm-6">
                    <div class="feature-media">
                                <span class="fa-stack fa-5x"><i
                                        class="fas fa-circle fa-stack-2x icon-background-default"></i> <i
                                        class="feature-icon fas fa-thermometer-full fa-stack-1x"></i></span></div>
                    <h4>Display data in ℉, ℃ or both</h4>
                    <div class="feature-item-content"><p>Selectable Default</p>
                    </div>
                </div>
                <div class="feature-item col-lg-3 col-sm-6">
                    <div class="feature-media">
                                <span class="fa-stack fa-5x"><i
                                        class="fas fa-circle fa-stack-2x icon-background-default"></i> <i
                                        class="feature-icon fas fa-child fa-stack-1x"></i></span></div>
                    <h4>Multiple Users and Tower Sensors</h4>
                    <div class="feature-item-content"><p>Add as many towers as your Access/smartHub supports and
                        set them as public or private. Multiple admin/regular users.</p>
                    </div>
                </div>
                <div class="feature-item col-lg-3 col-sm-6">
                    <div class="feature-media">
                                <span class="fa-stack fa-5x"><i
                                        class="fas fa-circle fa-stack-2x icon-background-default"></i> <i
                                        class="feature-icon fas fa-sitemap fa-stack-1x"></i></span></div>
                    <h4>Does not require internet access</h4>
                    <div class="feature-item-content">
                        <p>No need to rely on cloud services. Your data is stored locally and Acuparse can receive data
                            without Internet connectivity. Can be deployed independently of MyAcuRite.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
