<!-- Gallery -->
<section id="gallery" class="section-gallery section-padding section-meta site-section bg-light">
    <div class="g-layout-default container">
        <div class="section-title-area">
            <h2 class="section-title">Gallery</h2>
        </div>
        <div class="gallery-content">
            <div class="owl-carousel owl-theme">
                {% assign screenshots = site.static_files | where: "screenshot", true %}
                {% for screenshot in screenshots %}
                <div class="item">
                    <a
                            href="{{ screenshot.path | relative_url }}"
                            data-lightbox="screenshots"
                            class="g-item" title="main"><span class="inner"><span class="inner-content"><img
                            src="{{ screenshot.path | relative_url }}"
                            alt="main"></span></span>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>

        <div class="all-gallery">
            <a class="btn btn-primary" href="https://dev.ghwx.ca/">View a live demo station @
                ghwx.ca</a>
        </div>
    </div>
</section>
