<!-- Releases -->
<section id="releases" class="section-news section-padding section-meta site-section bg-light">
    <div class="container">
        <div class="section-title-area">
            <h2 class="section-title">Latest Release</h2></div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="blog-entry">
                        {% assign releases = site.releases | reverse %}
                        {% for release in releases limit:1 %}
                        {% include homepage/templates/release.html %}
                        {% endfor %}
                        <div class="all-news">
                            <a class="btn btn-primary"
                               href="{{ '/releases' | relative_url }}">View
                                all releases</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
