<!-- Project Status -->
<section id="releases" class="section section-padding section-meta site-section bg-light">
    <div class="container">
        <div class="section-title-area">
            <h2 class="section-title">Project Services Status</h2></div>
        <div class="section-content">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Core</th>
                            <th scope="col">Installer</th>
                            <th scope="col">RTL Relay</th>
                            <th scope="col">Website</th>
                            <th scope="col">DNS Sync</th>
                            <th scope="col">Release Service</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="https://gitlab.com/acuparse/acuparse/pipelines"><img
                                    alt="Acuparse Status"
                                    src="https://gitlab.com/acuparse/acuparse/badges/stable/pipeline.svg"
                                    title="Acuparse Pipeline"></a>
                            </td>
                            <td><a href="https://gitlab.com/acuparse/installer/pipelines"><img
                                    alt="Installer Status"
                                    src="https://gitlab.com/acuparse/installer/badges/master/pipeline.svg"
                                    title="Installer Pipeline"></a>
                            </td>
                            <td><a href="https://gitlab.com/acuparse/rtl-relay/pipelines"><img
                                    alt="RTL-Relay Status"
                                    src="https://gitlab.com/acuparse/rtl-relay/badges/main/pipeline.svg"
                                    title="RTL Relay Pipeline"></a>
                            </td>
                            <td><a href="https://gitlab.com/acuparse/website/pipelines"><img
                                    alt="Website Status"
                                    src="https://gitlab.com/acuparse/website/badges/master/pipeline.svg"
                                    title="Website Pipeline"></a> <img
                                    alt="Website Status"
                                    src="https://img.shields.io/uptimerobot/status/m787016706-5967cac56e544c773094fc78">
                            </td>
                            <td><a href="https://gitlab.com/acuparse/dns_sync/pipelines"><img alt="DNS Status"
                                                                                              src="https://gitlab.com/acuparse/dns_sync/badges/master/pipeline.svg"
                                                                                              title="DNS Pipeline"></a>
                            </td>
                            <td><a href="https://gitlab.com/acuparse/rms/pipelines"><img alt="DNS Status"
                                                                                         src="https://gitlab.com/acuparse/rms/badges/master/pipeline.svg"
                                                                                         title="RMS Pipeline"></a>
                                <img
                                        alt="Release Management Service Status"
                                        src="https://img.shields.io/uptimerobot/status/m787016696-3d8a19d46b2014c8daa8d9d6">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
