<!-- Change Log -->
<div id="content" class="site-content">
  <main id="changelog" class="site-main text-center" role="main">
    <section id="releases" class="section-news section-padding site-section">
      <div class="container">
        <div>
          <h1 class="page-header">{{ page.title }}</h1>
        </div>
        <div id="release_list">
          {% for release in site.releases reversed %}
          <div id="release_version">
            <article>
              <h2>
                <a href="{{ release.url | relative_url }}">
                  {{ release.version | append: ' - ' | append: release.title }}
                </a>
              </h2>
              <h3>Released <time datetime="{{ release.date | date: '%Y-%m-%d' }}">{{ release.date | date_to_long_string }}</time></h3>
            </article>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
</div>