---
title: Acuparse Blog
permalink: /blog/
---
{% include header.html %}
{% include nav.html %}

<div id="content" class="site-content">
    <main id="news" class="site-main text-center" role="main">
        <section id="posts" class="section-news blog section-padding site-section">
            <div class="container">
                <div>
                    <h1 class="page-header">{{ page.title }}</h1>
                </div>
                <div id="post_list" class="section-title-area">
                    {% for post in site.posts reversed %}
                    <div id="post_version">
                        <article>
                            <h2>
                                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                            </h2>
                            <h3>Posted <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_long_string }}
                                </time>
                            </h3>
                        </article>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
</div>

{% include footer.html %}
