---
title: Acuparse Donors
permalink: /donors
---
{% include header.html %}
{% include nav.html %}
{% assign sorted_names = site.data.donors.names | sort %}
{% assign sorted_usernames = site.data.donors.usernames | sort %}
{% assign sorted_others = site.data.donors.others | sort %}

<div id="content" class="site-content">
    <main id="acuparse_donors_list" class="site-main text-center" role="main">
        <section id="donations" class="section-news section-padding site-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>
                            <h1 class="page-header">{{ page.title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <h2><small>Special thanks to everyone who's supported Acuparse development</small></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="donor_names">
                            <h4><small>Names</small></h4>
                            <ul class="list-group">
                                {% for name in sorted_names %}
                                <li class="list-group-item">{{name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div id="donors_usernames">
                            <h4><small>Usernames</small></h4>
                            <ul class="list-group">
                                {% for username in sorted_usernames %}
                                <li class="list-group-item">{{username}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div id="donors_other">
                            <h4><small>Others</small></h4>
                            <ul class="list-group">
                                {% for other in sorted_others %}
                                <li class="list-group-item">{{other}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-05">
                    <div class="col">
                        <div>
                            <h3>If your name is missing, incomplete, or you wish to be removed, <a
                                    href="mailto:hello@acuparse.com">let us know!</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

{% include footer.html %}
