<footer class="container-fluid bg-dark">
    <div id="footer_nav_links" class="row">
        <div class="col-auto mx-auto">
            <a class="btn btn-large btn-dark" href="#"><i class="fas fa-home" aria-hidden="true"></i> Home</a>
            <a class="btn btn-large btn-dark" href="https://docs.acuparse.com/INSTALL"><i class="fas fa-file-alt"
                                                                                          aria-hidden="true"></i>
                Install</a>
            <a class="btn btn-large btn-dark" href="{{ '#about' | relative_url }}"><i class="fas fa-info-circle"
                                                                                      aria-hidden="true"></i> About</a>
            <a class="btn btn-large btn-dark" href="{{ '#features' | relative_url }}"><i class="fas fa-toolbox"
                                                                                         aria-hidden="true"></i>
                Features</a>
            <a class="btn btn-large btn-dark" href="{{ '#gallery' | relative_url }}"><i class="fas fa-camera"
                                                                                        aria-hidden="true"></i>
                Gallery</a>
            <a class="btn btn-large btn-dark" href="{{ '/blog' | relative_url }}"><i class="fas fa-blog"
                                                                                     aria-hidden="true"></i>
                Blog</a>
            <a class="btn btn-large btn-dark" href="{{ '/releases' | relative_url }}"><i class="fas fa-newspaper"
                                                                                         aria-hidden="true"></i>
                Releases</a>
            <a class="btn btn-large btn-dark"
               href="https://groups.google.com/a/lists.acuparse.com/forum/#!forum/users"><i
                    class="fas fa-mail-bulk"></i> Mailing List</a>
            <a class="btn btn-large btn-dark" href="https://docs.acuparse.com"><i class="fas fa-folder-open"
                                                                                  aria-hidden="true"></i> Docs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto text-vertical-center margin-top-10">
            <p>Copyright © 2015-{{ 'now' | date: "%Y" }}</p>
            <p>Acuparse is licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General
                Public License v3.0</a></p>
        </div>
    </div>
    <div id="footer_profile_links" class="row">
        <div class="col-auto mx-auto">
            <a class="btn btn-large btn-dark" target="_blank" href="https://www.facebook.com/acuparse"
               title="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="btn btn-large btn-dark" target="_blank" href="https://github.com/acuparse"
               title="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn btn-large btn-dark" target="_blank" href="https://gitlab.com/acuparse" title="GitLab">
                <i class="fab fa-gitlab"></i>
            </a>
            <a class="btn btn-large btn-dark" target="_blank"
               href="https://communityinviter.com/apps/acuparse/website"
               title="Slack">
                <i class="fab fa-slack"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto text-vertical-center">
            <p><small>Build: <a
                    href="{{ site.env.CI_COMMIT_SHA | prepend: 'https://gitlab.com/acuparse/website/commit/'}}">{{
                site.env.CI_COMMIT_SHORT_SHA }}</a></small></p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-{{ site.data.version.jquery.version }}.min.js"></script>
<script src="https://kit.fontawesome.com/20b62b6c01.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@{{ site.data.version.bootstrap.version }}/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ '/owl.carousel.min.js' | prepend: site.js | relative_url }}"></script>
<script src="{{ '/js/lightbox.min.js' | prepend: site.lightbox | relative_url }}"></script>
<script src="{{ '/main.js' | prepend: site.js | relative_url }}"></script>
<script src="//instant.page/5.1.1" type="module"
        integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>

</body>
</html>
