<!DOCTYPE html>
<html lang="en-CA">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D464EMJ5X5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-D464EMJ5X5');
    </script>
    {% include basepath.html %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.url | absolute_url }}">
    <link rel="shortlink" href="{{ site.url | absolute_url }}">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">

    <!-- Meta -->
    <!-- Facebook -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url | absolute_url }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:image" content="{{ '/share.jpg' | prepend: site.images | absolute_url }}">
    <meta property="fb:app_id" content="368214421145652">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:image" content="{{ '/share.jpg' | prepend: site.images | absolute_url }}">

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="Acuparse News Feed"
          href="{{ '/feed.xml' | prepend: site.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="Acuparse Releases Feed"
          href="{{ '/feed/releases.xml' | prepend: site.url | absolute_url }}">

    <!-- Stylesheets --->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPatua+One%7CJosefin+Sans:700%7CPoppins"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@{{ site.data.version.bootstrap.version }}/dist/css/bootstrap.min.css">
    <link rel="stylesheet" id="base-css" href="{{ '/base.css' | prepend: site.css | relative_url }}" type="text/css"
          media="all">
    {% if page.url == '/' %}
    <link rel="stylesheet" id="cover-css" href="{{ '/cover.css' | prepend: site.css | relative_url }}"
          type="text/css" media="all">
    <link rel="stylesheet" id="lightbox-css"
          href="{{ '/css/lightbox.min.css' | prepend: site.lightbox | relative_url }}" type="text/css" media="all">
    <link rel="stylesheet" id="owl-css" href="{{ '/owl.carousel.min.css' | prepend: site.css | relative_url }}"
          type="text/css" media="all">
    <link rel="stylesheet" id="owl-theme-css"
          href="{{ '/owl.theme.default.min.css' | prepend: site.css | relative_url }}" type="text/css" media="all">
    {% endif %}

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ '/ico/apple-touch-icon.png' | prepend: site.images | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ '/ico/favicon-32x32.png' | prepend: site.images | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ '/ico/favicon-16x16.png' | prepend: site.images | relative_url }}">
    <link rel="manifest" href="{{ '/ico/site.webmanifest' | prepend: site.images | relative_url }}">
    <link rel="mask-icon" href="{{ '/ico/safari-pinned-tab.svg' | prepend: site.images | relative_url }}"
          color="#5bbad5">
    <link rel="shortcut icon" href="{{ '/ico/favicon.ico' | prepend: site.images | relative_url }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ '/ico/browserconfig.xml' | prepend: site.images | relative_url }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Structured Data -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "CreativeWork",
            "accountablePerson": "Maxwell Power",
            "audience": "Weather Enthusiasts",
            "author": "Acuparse",
            "copyrightHolder": "Maxwell Power",
            "copyrightYear": "2017",
            "datePublished": "2017-03-14",
            "license": "https://www.gnu.org/licenses/agpl-3.0.en.html",
            "isAccessibleForFree": "true",
            "name": "{{ site.name}}",
            "about": "{% capture about %}{% include homepage/templates/about.md %}{% endcapture %}{{ about | markdownify }}",
            "description": "{{ site.description }}",
            "url": "{{ site.url }}",
            "version": "{{ site.data.version.acuparse }}",
            "sameAs": [
                "https://facebook.com/acuparse",
                "https://gitlab.com/acuparse",
                "https://github.com/acuparse"
            ]
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "{{ site.name }}",
            "url": "{{ site.url }}",
            "sameAs": [
                "https://facebook.com/acuparse",
                "https://gitlab.com/acuparse",
                "https://github.com/acuparse"
            ]
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{ site.name}}",
            "description": "{{ site.description }}",
            "url": "{{ site.url }}"
        }
    </script>
</head>

<body>
