<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/#">
            <img src="/assets/img/logo.png" width="173" height="60" class="d-inline-block align-top" alt="Acuparse">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav-dropdown"
                aria-controls="navbar-nav-dropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-dropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#"><i class="fas fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.acuparse.com/INSTALL"><i class="fas fa-file-alt"
                                                                            aria-hidden="true"></i> Install</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '#about' | relative_url }}"><i class="fas fa-info-circle"
                                                                                aria-hidden="true"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '#features' | relative_url }}"><i class="fas fa-toolbox"
                                                                                   aria-hidden="true"></i> Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '#gallery' | relative_url }}"><i class="fas fa-camera"
                                                                                  aria-hidden="true"></i> Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/blog' | relative_url }}"><i class="fas fa-blog"
                                                                               aria-hidden="true"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/releases' | relative_url }}"><i class="fas fa-newspaper"
                                                                                   aria-hidden="true"></i> Releases</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-question-circle" aria-hidden="true"></i> Support
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="https://groups.google.com/a/lists.acuparse.com/g/users"><i
                                class="fas fa-mail-bulk"></i> Users Mailing List</a>
                        <a class="dropdown-item" href="https://communityinviter.com/apps/acuparse/website"><i
                                class="fab fa-slack"></i>
                            Slack</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.acuparse.com"><i class="fas fa-folder-open"
                                                                                   aria-hidden="true"></i> Docs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
