/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
}

.img-circle {
    border-radius: 50%;
}

.btn-circle {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 100% !important;
    font-size: 50px;
    color: black;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: grey;
    border: 2px solid white;
    background: rgba(0, 0, 0, 1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.page-start {
    margin-top: 6em;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

/* Section: Features
------------------------------*/
.icon-background-default {
    color: #03c4eb;
}

.feature-item {
    text-align: center;
}

.feature-item .feature-icon {
    color: #fff;
}

.feature-item .fa-5x {
    font-size: 4em;
}

.feature-item:hover .icon-background-default {
    color: #333333;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (min-width: 940px) {
    .feature-item.col-lg-3:nth-child(4n+1), .feature-item.col-lg-4:nth-child(3n+1), .feature-item.col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

.feature-media {
    text-align: center;
    margin-bottom: 20px;
}

/* Section: Updating
------------------------------*/
.section-updating {
    background-color: #f6ffa8 !important;
}

.section-updating a {
    color: #ff0000 !important;
}

.section-updating .about-image {
    text-align: center;
}

.section-updating .about-image img {
    margin-bottom: 30px;
}

.section-updating .section-title-area {
    margin-bottom: 30px;
}

.section-updating .row > div {
    margin-top: 30px;
}

/* Section: About Us
------------------------------*/
.section-about .about-image {
    text-align: center;
}

.section-about .about-image img {
    margin-bottom: 30px;
}

.section-about .section-title-area {
    margin-bottom: 30px;
}

.section-about .row > div {
    margin-top: 30px;
}

/* Section: Donations
------------------------------*/
.section-donations {
    text-align: center;
    background-color: #ceffd1 !important;
}

.section-donations .donations_icon {
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
}

.section-donations .donations_heading {
    text-transform: uppercase;
    font-size: 38px;
    font-size: 2.375rem;
    letter-spacing: 0px;
    font-weight: 500;
}

.section-donations .donations_heading strong {
    font-weight: 800;
}

/* Section: Gallery
------------------------------*/
.gallery-grid .g-item {
    padding: 10px;
    float: left;
}

.all-gallery {
    text-align: center;
    margin-top: 40px;
    display: block;
}

.g-zoom-in .g-item {
    display: block;
    overflow: hidden;
}

.g-zoom-in .g-item .inner-content {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.g-zoom-in .g-item img {
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.g-zoom-in .g-item:hover img {
    -ms-transform: scale(1.5, 1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5, 1.5);
    /* Safari */
    transform: scale(1.5, 1.5);
}

.g-layout-full-width.container {
    width: 100%;
    max-width: none;
    padding: 0px;
}

.gallery-justified {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gallery-justified img {
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    border: none;
}

.gallery-justified > a,
.gallery-justified > div {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    float: left;
}

.gallery-masonry {
    width: 100%;
    position: relative;
    display: block;
}

.gallery-masonry:after {
    clear: both;
}

.gallery-masonry .inner {
    display: block;
}


/* Section: Discussion
------------------------------*/
.section-discussion input, .section-discussion textarea {
    width: 100%;
}

.section-discussion .address-contact {
    margin-top: 5px;
    margin-bottom: 15px;
}

.section-discussion .address-contact span {
    float: left;
    color: #aaaaaa;
}

.section-discussion .address-contact .address-content {
    display: block;
    padding-left: 45px;
    font-style: italic;
    line-height: 2;
}

.section-discussion .address-contact .fa-inverse {
    font-size: 12px;
}

.section-discussion textarea {
    max-height: 190px;
}

.section-discussion ul {
    list-style: none;
}

/* Section: News
------------------------------*/
.all-news {
    text-align: center;
    margin-top: 40px;
    display: block;
}

.section-news .list-article, .archive .list-article, .blog .list-article {
    border-top: 1px solid #e9e9e9;
    padding: 25px 0px;
}

.section-news .list-article:last-of-type, .archive .list-article:last-of-type, .blog .list-article:last-of-type {
    border-bottom: 1px solid #e9e9e9;
}

.section-news .list-article-thumb, .archive .list-article-thumb, .blog .list-article-thumb {
    float: left;
    margin-right: 30px;
}

.section-news .list-article-thumb a img:hover, .archive .list-article-thumb a img:hover, .blog .list-article-thumb a img:hover {
    opacity: 0.8;
}

@media screen and (max-width: 940px) {
    .section-news .list-article-thumb, .archive .list-article-thumb, .blog .list-article-thumb {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .section-news .list-article-thumb, .archive .list-article-thumb, .blog .list-article-thumb {
        width: 100%;
        float: none;
        margin-right: 0px;
        margin-bottom: 30px;
        display: block;
    }

    .section-news .list-article-thumb img, .archive .list-article-thumb img, .blog .list-article-thumb img {
        width: 100%;
    }
}

.section-news .list-article-content, .archive .list-article-content, .blog .list-article-content {
    float: none;
    overflow: hidden;
}

.section-news .list-article-meta, .archive .list-article-meta, .blog .list-article-meta {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

.section-news .entry-title, .archive .entry-title, .blog .entry-title {
    font-size: 22px;
    line-height: 1.5;
}

.section-news .entry-title a:hover, .archive .entry-title a:hover, .blog .entry-title a:hover {
    text-decoration: none;
}

.section-news .entry-excerpt p, .archive .entry-excerpt p, .blog .entry-excerpt p {
    margin-bottom: 0px;
}

.archive .site-main .list-article:first-child,
.blog .site-main .list-article:first-of-type {
    border-top: none;
    padding-top: 0px;
}

.page-template-template-blog .section-news .list-article {
    padding: 30px 0px;
}

.page-template-template-blog .section-news .list-article:first-of-type {
    border-top: none;
    padding-top: 0px;
}

.page-template-template-blog .section-news .list-article:last-of-type {
    border-bottom: none;
}

.section-news.section-inverse .list-article {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.section-news.section-inverse .list-article:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.section-news.section-inverse h1 a, .section-news.section-inverse h2 a, .section-news.section-inverse h3 a, .section-news.section-inverse h4 a, .section-news.section-inverse h5 a {
    color: rgba(255, 255, 255, 0.8);
}

.section-news.section-inverse h1 a:hover, .section-news.section-inverse h2 a:hover, .section-news.section-inverse h3 a:hover, .section-news.section-inverse h4 a:hover, .section-news.section-inverse h5 a:hover {
    color: #FFF;
}

.section-news ul {
    list-style: inside;
}

/* Entry Header
------------------------------*/
.entry-header .entry-title {
    font-weight: 500;
    text-transform: none;
    letter-spacing: -0.6px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.3;
    color: black;
}

@media screen and (min-width: 940px) {
    .entry-header .entry-title {
        font-size: 32px;
        line-height: 1.5;
    }
}

.entry-thumbnail {
    margin-bottom: 30px;
}

.single .entry-header .entry-title {
    margin-bottom: 10px;
}

.highlight {
    color: #03c4eb;
}

/* Entry Content
------------------------------*/
.entry-content {
    margin-bottom: 30px;
}

.entry-content blockquote {
    padding: 30px;
    position: relative;
    background: #f8f9f9;
    border-left: 3px solid #03c4eb;
    font-style: italic;
}

.entry-content blockquote p {
    margin: 0px;
}

/* Entry Stuff
------------------------------*/
.entry-meta {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
}

.entry-footer {
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #e9e9e9;
}

.entry-footer .cat-links, .entry-footer .tags-links {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

/* Content
------------------------------*/
.site-content {
    border-top: 1px solid #e9e9e9;
    margin-top: 25px;
}

.site-content.no-border {
    border-top: none;
}

.blog .site-content,
.tax-portfolio_cat .site-content,
.single-post .site-content,
.hiding-page-title .site-content {
    margin-top: 0;
}

.page-header {
    padding: 30px 0px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

.page-header:before {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    content: " ";
}

.page-header .entry-title,
.page-header .page-title {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.page-header p {
    margin: 6px 0px 0px 0px;
}

.page-header.page--cover {
    position: relative;
    padding: 8% 0px;
    text-align: center;
    border-top: 0 none;
    border-bottom: 0 none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-header.page--cover:before {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.3);
    content: " ";
}

.page-header.page--cover .entry-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ffffff;
}

.page-header.page--cover .entry-tagline {
    color: #ffffff;
    font-style: italic;
    font-weight: 300;
}

@media screen and (min-width: 1140px) {
    .page-header.page--cover .entry-tagline {
        font-size: 20px;
    }
}

@media screen and (max-width: 940px) {
    .page-header.page--cover .entry-tagline {
        font-size: 18px;
    }
}

@media screen and (max-width: 720px) {
    .page-header.page--cover .entry-tagline {
        font-size: 16px;
    }
}

.page-header.page--cover.is-t-above .container {
    margin-top: 30px;
}

.section-padding {
    padding: 2rem 0;
}

.section-padding-larger {
    padding: 4rem 0;
}

.section-meta {
    background-color: #f1f1f1;
}

.site-section {
    position: relative;
    overflow: hidden;
}

.site-section:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: " ";
    z-index: 1;
}

.site-section .container-fluid,
.site-section .container {
    position: relative;
    z-index: 5;
}

.section-title-area {
    margin-bottom: 10px;
    text-align: center;
}

.section-title-area .section-title {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 800;
    position: relative;
    margin-bottom: 0;
    text-transform: uppercase;
    text-decoration: underline;
}

@media screen and (min-width: 940px) {
    .section-title-area .section-title {
        font-size: 40px;
        letter-spacing: 3.5px;
    }
}

.section-title-area .section-subtitle {
    color: #aaaaaa;
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin-bottom: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (min-width: 940px) {
    .section-title-area .section-subtitle {
        font-size: 14px;
    }
}

.section-desc {
    font-size: 1.25rem;
    margin-top: 2.5rem;
}

/* Footer */

footer {
    padding: 50px 0;
}

footer p {
    color: white;
}

footer a {
    color: grey;
}

footer a:hover {
    color: lightgray;
}

/* Line Space */
.space {
    display: table;
    width: 100%;
    height: 5px;
}

/* Custom Margins */
.margin-top-05 {
    margin-top: 0.5em;
}

.margin-top-10 {
    margin-top: 1em;
}

.margin-top-15 {
    margin-top: 1.5em;
}

.margin-top-20 {
    margin-top: 2em;
}

.margin-top-25 {
    margin-top: 2.5em;
}

.margin-top-30 {
    margin-top: 3em;
}

.margin-top-35 {
    margin-top: 3.5em;
}

.margin-top-40 {
    margin-top: 4em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em;
}

.margin-bottom-10 {
    margin-bottom: 1em;
}

.margin-bottom-15 {
    margin-bottom: 1.5em;
}

.margin-bottom-20 {
    margin-bottom: 2em;
}

.margin-bottom-25 {
    margin-bottom: 2.5em;
}

.margin-bottom-30 {
    margin-bottom: 3em;
}

.margin-bottom-35 {
    margin-bottom: 3.5em;
}

.margin-bottom-40 {
    margin-bottom: 4em;
}

/* Custom paddings */
.padding-top-05 {
    padding-top: 0.5em;
}

.padding-top-10 {
    padding-top: 1em;
}

.padding-top-15 {
    padding-top: 1.5em;
}

.padding-top-20 {
    padding-top: 2em;
}

.padding-top-25 {
    padding-top: 2.5em;
}

.padding-top-30 {
    padding-top: 3em;
}

.padding-top-35 {
    padding-top: 3.5em;
}

.padding-top-40 {
    padding-top: 4em;
}

.padding-bottom-05 {
    padding-bottom: 0.5em;
}

.padding-bottom-10 {
    padding-bottom: 1em;
}

.padding-bottom-15 {
    padding-bottom: 1.5em;
}

.padding-bottom-20 {
    padding-bottom: 2em;
}

.padding-bottom-25 {
    padding-bottom: 2.5em;
}

.padding-bottom-30 {
    padding-bottom: 3em;
}

.padding-bottom-35 {
    padding-bottom: 3.5em;
}

.padding-bottom-40 {
    padding-bottom: 4em;
}
