/* Cover Styles */

/* Cover */
.cover {
    padding-top: 100px;
    padding-bottom: 20px;
    display: inline-grid;
    width: 100%;
    height: auto;
    background: linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, .3),
            rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .3),
            rgba(255, 255, 255, 0.1)
    ), url(../img/cover.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover !important;
}

.cover h1, .cover h2 {
    color: black;
    font-family: 'Patua One', cursive;
    text-shadow: 0 0 4px grey;
}

.cover h1 {
    font-size: 6em;
}

.cover h2 {
    font-size: 2em;
}

.cover h3 {
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 2em;
}

.cover h3 a {
    color: black;
}

.cover h4 {
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 1.5rem;
    text-decoration: underline;
}

@media (min-width: 1201px) {

    .cover {
        height: 100%;
    }
}

@media (max-width: 768px) {

    .cover {
        background-attachment: unset;
    }

    .cover h1 {
        font-size: 2.5em;
    }

    .cover h2 {
        font-size: 1.75em;
    }

    .cover h3 {
        font-size: 1.5em;
    }

    .cover h4 {
        font-size: 1em;
    }
}

@media (max-width: 576px) {

    .cover h1 {
        font-size: 3em;
    }

    .cover h2 {
        font-size: 1.5em;
    }

    .cover h3 {
        font-size: 1.5em;
    }

    .cover h4 {
        font-size: 1.25em;
    }
    .cover h5 {
        font-size: 1em;
    }
}

@media (min-width: 0px) and (max-width: 640px) {
    .cover ul {
        font-size: .5em;
    }
}
