<article
        class="list-article clearfix post type-post status-publish format-standard has-post-thumbnail category-posts tag-posts">
    <div class="list-article-content">
        <header class="entry-header">
            <h2 class="entry-title"><a href="{{ post.url | relative_url }}"
                                       rel="bookmark">{{
                post.title }}<br><small>{{post.date | date_to_long_string }}</small></a></h2>
        </header>
        <p>{{ post.content | truncatewords:50 }}</p>
    </div>
</article>