<article
        class="list-article clearfix post type-post status-publish format-standard has-post-thumbnail category-releases tag-releases">
    <div class="row">
        <div class="col-3 offset-2">
            <div class="list-article-thumb">
                <a href="{{ release.url | relative_url }}">
                    <img width="150" height="150" class="img-fluid"
                         src="{{ release.image | relative_path }}"
                         class="attachment-blog-small size-blog-small wp-post-image"
                         alt="ship"> </a>
            </div>
        </div>
        <div class="col">
            <div class="list-article-content">
                <div class="list-article-meta">
                    <a href="{{ '/releases' | relative_url }}">Releases</a>
                </div>
                <header class="entry-header">
                    <h2 class="entry-title"><a href="{{ release.url | relative_url }}"
                                               rel="bookmark">{{ release.version | prepend: 'Version ' | append: ' - ' |
                        append:
                        release.title }}</a></h2>
                </header>
                <p>{{ release.content | truncatewords:25 }}</p>
            </div>
        </div>
    </div>
</article>