---
---
{% include header.html %}
{% include nav.html %}
<div id="content" class="site-content">
    <main id="post" class="site-main" role="main">
        <section id="post_details" class="section-news section-padding site-section">
            <div class="container">
                <div>
                    <h1 class="page-header text-center">{{ page.title }}</h1>
                    <h2 class="text-center">Posted
                        <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}
                        </time>
                    </h2>
                </div>
                <article>
                    <div id="post_content" class="section-desc">
                        {{ content }}
                    </div>
                </article>
            </div>
        </section>
    </main>
</div>

{% include footer.html %}
