---
---
{% include header.html %}
{% include nav.html %}
<div id="content" class="site-content">
    <main id="release" class="site-main" role="main">
        <section id="release_details" class="section-features section-padding site-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="page-header text-center">Acuparse Changelog</h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <h2>{{ page.version | append: ' - ' | append: page.title }}</h2>
                        <h3><small>Released
                            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}
                            </time></small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="release_version">
                            <article>
                                <div id="release_changes">
                                    {{ content }}
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% include footer.html %}
